<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Sistema Administrativo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body class="container mt-5">
        <div class="alert btn-link text-center"><text class="fs-1">SEMINARIO</text></div>
        
        <div class="row">
        <div class="col"><a href="/reserva" class="btn btn-primary w-100"><text class="fs-1">RESERVAS AGENDADAS</text></a></div>
        <div class="col"><a href="/agregarReserva" class="btn btn-dark float-end w-100"><text class="fs-1">AÑADIR INSCRIPCION</text></a></div>
        <p></p>
        <div class="col"><a href="/listaInscrito" class="btn btn-dark float-end w-100"><text class="fs-1">LISTA DE INSCRITOS</text></a></div>
        <div class="col"><a href="/detalleInscrito" class="btn btn-dark float-end w-100"><text class="fs-1">INSTITUCION</text></a></div>

        </div>
    </body>
</html>